In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
def load_data(emissions_filepath):
    """Loads the raw data and returns it."""

    df = pd.read_csv(emissions_filepath)
    return df

In [9]:
df_raw = load_data('./data.csv')
df_raw.head()

C:\Pim\Docs\u-data-science-car-emission\.venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (6,30) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,file,year,manufacturer,model,description,euro_standard,tax_band,transmission,transmission_type,engine_capacity,...,nox_emissions,thc_nox_emissions,particulates_emissions,fuel_cost_12000_miles,fuel_cost_6000_miles,standard_12_months,standard_6_months,first_year_12_months,first_year_6_months,date_of_change
0,DatapartC_july2000.csv,2000,Alfa Romeo,145 Range,1.6 Twin Spark 16v,2,NaN,M5,Manual,1598.0,...,NaN,NaN,NaN,NaN,618.0,NaN,NaN,NaN,NaN,NaN
1,DatapartC_july2000.csv,2000,Alfa Romeo,145 Range,1.8 Twin Spark 16v,2,NaN,M5,Manual,1747.0,...,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN,NaN
2,DatapartC_july2000.csv,2000,Alfa Romeo,145 Range,Cloverleaf,2,NaN,M5,Manual,1970.0,...,NaN,NaN,NaN,NaN,663.0,NaN,NaN,NaN,NaN,NaN
3,DatapartC_july2000.csv,2000,Alfa Romeo,146 Range,1.6 Twin Spark 16v,2,NaN,M5,Manual,1598.0,...,NaN,NaN,NaN,NaN,626.0,NaN,NaN,NaN,NaN,NaN
4,DatapartC_july2000.csv,2000,Alfa Romeo,146 Range,1.8 Twin Spark 16v,2,NaN,M5,Manual,1747.0,...,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN,NaN

In [10]:
def clean_data(df):
    """
    INPUT:
    df - (pandas df) emission dataframe to clean
    
    OUTPUT:
    df -  (pandas df) cleaned emission dataframe
    """
    
    # Remove unnecessary columns
    df = df.drop(columns=['file', 'date_of_change'])
    
    # Remove extra spacing
    df['transmission'] = df['transmission'].replace({'ASM  ': 'ASM'})

    return df

In [11]:
df_clean = clean_data(df_raw)
df_clean.head()

,year,manufacturer,model,description,euro_standard,tax_band,transmission,transmission_type,engine_capacity,fuel_type,...,co_emissions,nox_emissions,thc_nox_emissions,particulates_emissions,fuel_cost_12000_miles,fuel_cost_6000_miles,standard_12_months,standard_6_months,first_year_12_months,first_year_6_months
0,2000,Alfa Romeo,145 Range,1.6 Twin Spark 16v,2,NaN,M5,Manual,1598.0,Petrol,...,980.0,NaN,NaN,NaN,NaN,618.0,NaN,NaN,NaN,NaN
1,2000,Alfa Romeo,145 Range,1.8 Twin Spark 16v,2,NaN,M5,Manual,1747.0,Petrol,...,1105.0,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN
2,2000,Alfa Romeo,145 Range,Cloverleaf,2,NaN,M5,Manual,1970.0,Petrol,...,1103.0,NaN,NaN,NaN,NaN,663.0,NaN,NaN,NaN,NaN
3,2000,Alfa Romeo,146 Range,1.6 Twin Spark 16v,2,NaN,M5,Manual,1598.0,Petrol,...,980.0,NaN,NaN,NaN,NaN,626.0,NaN,NaN,NaN,NaN
4,2000,Alfa Romeo,146 Range,1.8 Twin Spark 16v,2,NaN,M5,Manual,1747.0,Petrol,...,1105.0,NaN,NaN,NaN,NaN,633.0,NaN,NaN,NaN,NaN

In [19]:
def save_data(df, database_filename):
    """Saves the data as a database file"""

    engine = create_engine(f'sqlite:///{database_filename}')
    df.to_sql('emissions', engine, index=False, if_exists='replace')

In [20]:
save_data(df_clean, 'emissions.db')